@mixin vendor-prefix($name, $argument, $remove-prefix:false) {
	@if($remove-prefix == false) {
		-webkit-#{$name}: $argument;
		-ms-#{$name}: $argument;
		-moz-#{$name}: $argument;
		-o-#{$name}: $argument;
	}
	#{$name}: $argument;
}

@mixin responsive-image() {
	width: 100%;
    height: auto;
    display: block;
}